@{
    ViewData["Title"] = "About";
}

<h3><font color="#A685B7">@ViewData["Title"]</font></h3>

<hr />

<div class="text-center">
    <h4><img src="https://raw.githubusercontent.com/J0rgeSerran0/FeatureFlags/master/images/icon_toggle.png" width="48" height="48" />&nbsp;<font color="#A685B7"><b>DotNetCore.FeatureFlags</b></font>&nbsp;<font color="#DACCE1">Sample</font></h4>
    <p><h6><font color="#CBA2DF"><a href="https://mvp.microsoft.com/en-us/PublicProfile/8633?fullName=Jorge%20Serrano%20Perez">by Jorge Serrano</a></font></h6></p>
    <p><h6><font color="#CBA2DF">Quick and easy implementation of Feature Toggles or Feature Flags in .Net Core 3.0, ASP.NET Core 3.0 or Azure projects</font></h6></p>
    <p><font color="#CEBAD8">NuGet Package:</font>&nbsp;<a href="https://www.nuget.org/packages/DotNetCore.FeatureFlags/3.0.0">download</a></p>
</div>